{% extends "base.html" %}
{% block title %} Afficher camions {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Liste des camions
            </p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id
                        </th>
                        <th class="align-middle">
                            Marque
                        </th>
                        <th class="align-middle">
                            Modèle
                        </th>
                        <th class="align-middle">
                            Km Totaux
                        </th>
                        <th class="align-middle">
                            Carburant
                        </th>
                        <th class="align-middle">
                            Charge
                        </th>
                        <th class="align-middle">
                            Disponibilité
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td class="align-middle">
                            {{ row.Id_camion }}
                        </td>
                        <td class="align-middle">
                            {{ row.Marque }}
                        </td>
                        <td class="align-middle">
                            {{ row.Modele }}
                        </td>
                        <td class="align-middle">
                            {{ row.KmTotaux }}
                        </td>
                        <td class="align-middle">
                            {{ row.Carburant }}
                        </td>
                        <td class="align-middle">
                            {{ row.Charge }}
                        </td>
                        <td class="align-middle">
                            {{ row.Disponibilité }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-primary" href="{{ url_for('camions_ajouter_wtf') }}" role="button">Ajouter</a>
                            <a class="btn btn-warning" href="{{ url_for('camion_update_wtf', id_camion_btn_edit_html=row.Id_camion) }}" role="button">Edit</a>
                            <a class="btn btn-danger" href="{{ url_for('camion_delete_wtf', id_camion_btn_delete_html=row.Id_camion) }}" role="button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">
                            Aucun camion.
                            <a class="btn btn-primary" href="{{ url_for('camions_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
