{% extends "base.html" %}
{% block title %} Editer un camion (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Editer un camion
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form_update.hidden_tag() }}
                <div class="form-group">
                    <p>
                        {{ form_update.vin_update_wtf.label }}<br>
                        {{ form_update.vin_update_wtf(size=32) }}<br>
                        {% for error in form_update.vin_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.marque_update_wtf.label }}<br>
                        {{ form_update.marque_update_wtf(size=32) }}<br>
                        {% for error in form_update.marque_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.modele_update_wtf.label }}<br>
                        {{ form_update.modele_update_wtf(size=32) }}<br>
                        {% for error in form_update.modele_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.date_construction_update_wtf.label }}<br>
                        {{ form_update.date_construction_update_wtf(size=32) }}<br>
                        {% for error in form_update.date_construction_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.annee_achat_update_wtf.label }}<br>
                        {{ form_update.annee_achat_update_wtf(size=32) }}<br>
                        {% for error in form_update.annee_achat_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.km_totaux_update_wtf.label }}<br>
                        {{ form_update.km_totaux_update_wtf(size=32) }}<br>
                        {% for error in form_update.km_totaux_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.carburant_update_wtf.label }}<br>
                        {{ form_update.carburant_update_wtf(size=32) }}<br>
                        {% for error in form_update.carburant_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.charge_update_wtf.label }}<br>
                        {{ form_update.charge_update_wtf(size=32) }}<br>
                        {% for error in form_update.charge_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.hauteur_update_wtf.label }}<br>
                        {{ form_update.hauteur_update_wtf(size=32) }}<br>
                        {% for error in form_update.hauteur_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form_update.disponibilite_update_wtf.label }}<br>
                        {{ form_update.disponibilite_update_wtf() }}<br>
                        {% for error in form_update.disponibilite_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                {{ form_update.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
