{% extends "base.html" %}
{% block title %}Liste des Chauffeurs et Camions{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Liste des Chauffeurs et Camions</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID Chauffeur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>ID Camion</th>
                        <th>Marque</th>
                        <th>Modèle</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.Id_Chauffeur }}</td>
                            <td>{{ row.Nom }}</td>
                            <td>{{ row.Prénom }}</td>
                            <td>{{ row.Id_camion }}</td>
                            <td>{{ row.Marque }}</td>
                            <td>{{ row.Modele }}</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-primary" href="{{ url_for('gestion_chauffeurs_camions.chauffeurs_camions_afficher', order_by='ASC', id_chauffeur_sel=0) }}" role="button">Ajouter</a>
                                <a class="btn btn-warning" href="{{ url_for('gestion_chauffeurs_camions.chauffeur_camion_update_wtf', id_chauffeur_update=row.Id_Chauffeur) }}" role="button">Edit</a>
                                <a class="btn btn-danger" href="{{ url_for('gestion_chauffeurs_camions.chauffeur_camion_delete_wtf', id_chauffeur_delete=row.Id_Chauffeur) }}" role="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
