{% extends "base.html" %}
{% block title %} Afficher chauffeurs {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Liste des chauffeurs
            </p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
                            Prénom
                        </th>
                        <th class="align-middle">
                            Date d'engagement
                        </th>
                        <th class="align-middle">
                            Catégorie de permis
                        </th>
                        <th class="align-middle">
                            Camion
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td class="align-middle">
                            {{ row.Id_Chauffeur }}
                        </td>
                        <td class="align-middle">
                            {{ row.Nom }}
                        </td>
                        <td class="align-middle">
                            {{ row.Prénom }}
                        </td>
                        <td class="align-middle">
                            {{ row.DateEngagement }}
                        </td>
                        <td class="align-middle">
                            {{ row.CategoriePermis }}
                        </td>
                        <td class="align-middle">
                            {{ row.Id_camion }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-primary" href="{{ url_for('chauffeurs_ajouter_wtf') }}" role="button">Ajouter</a>
                            <a class="btn btn-warning" href="{{ url_for('chauffeur_update_wtf', id_chauffeur_btn_edit_html=row.Id_Chauffeur) }}" role="button">Edit</a>
                            <a class="btn btn-danger" href="{{ url_for('chauffeur_delete_wtf', id_chauffeur_btn_delete_html=row.Id_Chauffeur) }}" role="button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">
                            Aucun chauffeur.
                            <a class="btn btn-primary" href="{{ url_for('chauffeurs_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
